{% extends 'phonebook/base.html' %}

{% block content %}
    <h1 class="mt-2">Contacts</h1>
    <hr class="mt-0 mb-4">
    <div class="text-center py-2 pr-2">
        <a href="{% url 'phonebook:create_contact' %}" class="text-success font-weight-bold">Add contact</a>
    </div>

    <form class="input-group mb-3">
        <input type="search" name="contact_name" placeholder="Search for contacts"
               class="form-control borderless">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>

    <ul class="list-group">
        {% for contact in contacts %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <a href="{% url 'phonebook:detail'  contact.id %}" class="text-dark">
                    {{ contact.first_name }} {{ contact.last_name }}
                </a>
                <div>
                    <a href="{% url 'phonebook:update_contact' contact.id %}" class="mr-2">Edit</a>
                    <a href="{% url 'phonebook:delete_contact' contact.id %}" class="text-danger">Delete</a>
                </div>
            </li>

        {% endfor %}
    </ul>
{% endblock %}
