{% extends 'phonebook/base.html' %}

{% block content %}
    <h1 class="mt-2">Contacts</h1>
    <hr class="mt-0 mb-4">

    <ul class="list-group">
        {% for contact in contacts %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <a href="{% url 'phonebook:detail'  contact.id %}">
                    {{ contact.first_name }} {{ contact.last_name }}
                </a>
                <div>
                    <a href="{% url 'phonebook:update_contact' contact.id %}">Edit</a>
                    <a href="{% url 'phonebook:delete_contact' contact.id %}">Delete</a>
                </div>
            </li>

        {% endfor %}
    </ul>
{% endblock %}
