[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
